build/
*.tgz
.vscode/
*.swp
*.swp
*.log
*.nek5000
*.f?????
*.bp
*.vtu
logfile
*.dat
.cache/

# ML related items
__pycache__/
_env*/

# SmartSim/SmartRedis outputs
SmartSim/
*.out
*.err
*outputs/
*.colocated_launcher.sh
*-db.log
*.rdb

# ML related artefacts
__pycache__/

# Reframe test data
tests/test_data/
.ruff_cache/
.venv/
